@page "/"
@using UI_Server.Components

<PageTitle>CMart Lineup Builder</PageTitle>


<div>
    <div class="rz-p-5">
        <SlateSelector OnSlateSelected="OnSlateSelected"/>
        <SlateView SlateID="SlateID"/>
    </div>    
</div>

@code
{
    private SlateID? SlateID { get; set; }

    private Task OnSlateSelected(SlateID slateID)
    {
        SlateID = slateID;
        return Task.CompletedTask;
    }
}